.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import "@fullcalendar/daygrid/main.css";

/* Customize event appearance */
.fc-event {
  background-color: #2563eb !important; /* Blue background */
  color: white !important; /* White text */
  border-radius: 5px; /* Rounded corners */
  padding: 2px 4px; /* Add some padding */
}
.fc-event:hover {
  background-color: #1e40af !important; /* Darker blue on hover */
}
