.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-height: 80vh; /* Added max-height for scrolling */
  overflow-y: auto; /* Added overflow for scrolling */
}

.modal-content h2 {
  margin: 0 0 15px;
}

.modal-content label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold; /* Added to make label names more prominent */
  color: #333; /* Changed color for better visibility */
  text-align: left;

}

.modal-content input,
.modal-content textarea,
.modal-content select {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-content button {
  margin-right: 10px;
}
